
<div class="conteudo">
  <img class="imagem" src="https://img.freepik.com/fotos-gratis/abundante-colecao-de-livros-antigos-em-prateleiras-de-madeira-geradas-por-ia_188544-29660.jpg?semt=ais_hybrid&w=740&q=80" alt="PratoInicial">

  <div class="principal">
    <h4>Controle de Livros</h4>

    <div class="acoes-container">


      <div class="livro-card">
        <h2>Cadastro de Livros</h2>
        <button (click)="setInfo()" class="button" style="background-color: #2d3436;">Adicionar Livro</button>
        <button (click)="setByISBN()" class="button" style="background-color: #2d3436;">Adicionar Livro Pelo ISBN</button>

        <div class="lista-scroll">
          @for (livroInterface of ListaDeLivros(); track livroInterface.id){
            <div class="livro-item"
                 [class.livro-inativo]="!livroInterface.ativo || livroInterface.emprestado"
                 [class.livro-ativo]="livroInterface.ativo    || !livroInterface.emprestado" >

              <img src="{{livroInterface.LinkImagem}}" class="imagem-livro">
              <span >{{livroInterface.id}} | {{livroInterface.titulo}} | {{livroInterface.autor}} </span>

              @if (!livroInterface.ativo) {
                <button class="button" (click)="reativar(livroInterface.id)">Ativar</button>
              }@else{

              }

              <button class="buttonEditar" (click)="editarLivro(livroInterface.id,livroInterface)">Editar</button>
              <button class="buttonDeletar" (click)="deletar(livroInterface.id)">Deletar</button>


            </div>
          }
        </div>
        <button (click)="deletarTodos()" class="buttonDeletar">Deletar Todos</button>
      </div>

    </div>
  </div>

</div>
